
/*******************************************************************/
/* CODIGO ORIGINAL */



#destaque {
    position: relative;
    width: 100%;
    height: 1000px;
    min-height: 600px;
    max-height: 100vh;
    background-image: url(img/banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    z-index: 1;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ffffff;

}

.destaque-title {
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: var(--font-amatic);
    font-size: 2.5rem;
    font-weight: 900;
    filter: blur(0);
}

.destaque-box {
    display: flex;
    width: 100%;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.destaque-burguers {
    width: 32%;
    height: 460px;
    background-color: #00000023;
    cursor: pointer;
    transition: transform 1s;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    filter: blur(1px);
    transition: 0.5s;
}

.destaque-burguers:hover {
    transform: scale(1.1);
    border: 4px solid #fff;
    filter: blur(0);

}

.destaque-burguers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.destaque-burguers__conteudo {
    display: flex;
    align-items: center;
    justify-content: flex-end;  
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #0000005f;
    color: white;
    text-align: center;
    padding: 10px;
    padding-right: 50px;
    transition: transform 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    /* transition: 0.5s; */
    /* filter: blur(1px); */
}



.destaque-burguers__conteudo p {
    width: 70%;
}

