body {

    background-image: url(img/bg-body.jpg);
    background-position: center;
    background-repeat: repeat;
}

.conteudo-unidades {
    position: relative;
    width: 100%;
    height: 150px;
    max-height: 100vh;
    background-image: url(img/back5.jpg);
    background-position: center;
    background-repeat: repeat;
    opacity: 0.9;


    z-index: 1;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    border-radius: 0% 0% 70% 70% / 0% 0% 24% 24%; 
}

.conteudo {
    width: 100%;
    height: 361px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.conteudo-form {
    width: 80%;
    height: 64px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.conteudo-form select {
    width: 15%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #000;
}

.conteudo-form input {
    width: 10%;
    margin-left: 22px;
    color: #d2d2d2;
    background-color: #962626;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.conteudo-form input:hover {
    color: #fff;
    background-color: #000;
    outline: 2px solid #962626;
}


.conteudo-infos {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conteudo-infos__title {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 4rem;
    font-family: 'Gotham Bold', sans-serif;
    font-weight: bolder;
    color: #962626;
}

.conteudo-dados {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.conteudo-dados__img {
    width: 34%;
    display: flex;
    justify-content: center;
}

.conteudo-dados__img img {
    width: 80%;
    height: 280px;
}

.conteudo-dados__unidade {
    display: flex;
    width: 66%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    color: #000;
}

.conteudo-dados__unidade p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

.conteudo-dados__unidade h3,span {
    font-weight: bolder;
    font-size: 1.6rem;
    color: #962626;
    font-family: 'Gotham Bold', sans-serif;
}

.conteudo-dados__unidade ion-icon{
    font-size: 1.4rem;
}

.conteudo-dados__horaFunc {
    padding-top: 8px;
}

.conteudo-dados_span {
    font-size: 1.1rem;
    font-family: 'Gotham Bold', sans-serif;
}


.back-radius {
    width: 100%;
    height: 80px;
    max-height: 100vh;
    z-index: 100;
    background-image: url(img/back5.jpg);
    background-position: center;
    background-repeat: repeat;
    opacity: 0.9;
    border-radius: 80% 80% 0% 0% / 30% 30% 0% 0%;
}